In [102]:
# Dependencies
import requests
import json
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
#!pip install citipy
from pprint import pprint
import random
from citipy import citipy







wkey = "30cf1cdb79e86340a5a2b6f20a23be2f"

In [103]:
#open file with country codes
#need to run below code in console to increase limit to perform
#list compilation 
#jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e10
cityID = []


f= open("WeatherPy/CityID.json", encoding="utf8")
data = json.loads(f.read())
for i in data:
    cityID.append(i)

In [112]:
#converting to data frame to isolate country IDs
df = pd.DataFrame(cityID)
IDs = df["id"]
allIDs = IDs.astype(int)


selectedCities = allIDs.sample(n=10)
selectedCities = selectedCities.tolist()

#converting to str to be applicable to URL
selectedCities = map(str, selectedCities)

In [113]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?id="
units = "imperial"

# Build partial query URL
query_url = f"&appid={wkey}&units={units}&q="

In [114]:
#attempt at loop
city = []
lat = [] 
long = []
temp = [] 
humidty = [] 
speed = []
cloudiness = []

for cityS in selectedCities:
    response = requests.get(url + cityS + query_url).json()
    city.append(response['name'])
    lat.append(response["coord"]["lat"])
    long.append(response["coord"]["lon"])
    temp.append(response["main"]["temp"])
    humidty.append(response["main"]["humidity"])
    speed.append(response["wind"]["speed"])
    cloudiness.append(response["clouds"]["all"])

In [119]:

weatherDict = {
    "city": city,
    "lat": lat,
    "lon": long,
    "temp": temp,
    "humidity (%)": humidty,
    "wind speed": speed,
    "cloudiness (%)": cloudiness
}

weatherData = pd.DataFrame(weatherDict)
weatherData.head(20)

,city,lat,lon,temp,humidity (%),wind speed,cloudiness (%)
0,Garisul,-6.5055,106.4959,78.53,97,1.99,70
1,Orange Municipality,-33.3283,149.1229,44.01,88,4.07,71
2,Cherniche,41.8500,23.1333,59.14,78,5.35,100
3,Urzhumskoye Lesnichestvo,56.1633,47.5011,41.00,93,6.71,75
4,Buitrago,41.8474,-2.4086,52.00,87,10.00,100
5,Tarbagatay,51.4803,107.3602,30.20,59,8.95,23
6,Holthausen,51.4167,7.0833,59.72,29,1.99,28
7,Caitang,23.5075,116.6500,68.00,94,4.47,90
8,Tiers,46.4683,11.5277,51.93,39,11.50,40
9,Nanyu,33.7184,104.4133,45.18,89,2.91,99